.wave{
  width: 100%;
  height: 99vh;
  backdrop-filter: blur(150px);
  color: white;
}

g{
  transform: translate(425px, -6px);
}

g path{
  fill: white;
}

.in-wave{
  position: absolute;
  top: 20%;
  right: 0;
  width: 30%;
}

.in-wave p{
  color: #4B16C3;
}
